@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

$font-secondary: 'Red Hat Display', Arial, sans-serif;
$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);
$color-pale-blue: hsl(225, 100%, 98%);
$color-bright-blue: hsl(245, 75%, 52%);

.text-color-very-pale-blue{
    color: $color-very-pale-blue;
}
.text-color-desaturated-blue{
    color: $color-desaturated-blue;
}
.text-color-dark-blue{
    color: $color-dark-blue;
}
.text-color-pale-blue{
    color: $color-pale-blue;
}
.text-color-bright-blue{
    color: $color-bright-blue;
}

.text-small{
    font-size: 14px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: $font-secondary!important;
    background-image: url(/assets/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}
.card{
    //border: 16px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    .card-title{
        color: $color-dark-blue;
    }
    .card-between{
        align-items: center;
        width: 100%;
    }
    .card-content{
        background-color: $color-pale-blue;
        margin: auto;
        padding: 5px;
        .annual-content{
            margin-right: 25px;
        }
        img{
            margin-right: 7px;
        }
    }
    .rounded-top {
        border-top-left-radius: 0.5rem!important;
        border-top-right-radius: 0.5rem!important;
    }
    .btn-payment{
        color: #fff;
        background-color: $color-bright-blue;
        border-color: $color-bright-blue;
        font-weight: bold;
        padding: 5px 25px;
        &:hover{
            opacity: .8;
        }
    }
    .btn-cancel{
        color: $color-desaturated-blue;
        background-color: transparent;
        border-color: transparent;
        font-weight: bold;
        &:hover{
            color: $color-dark-blue;
        }
    }
    a{
        color: $color-bright-blue;
        margin-top: 15px;
        font-size: 10px;
    }
}